@import "variables";

.footer_container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 10vh;
  height: 100%;

  padding: 15px 30px;

  background: $color-10;
  color: $color-white;

  a {
    display: inline-flex;

    color: $color-white;
  }
}